= f.input :value_type, collection: @types, prompt: "Select value's type"
= f.input :value, wrapper_html: {class: 'app_config_value_wrapper'}
= f.input :value, as: :boolean, input_html: { id: 'bool_app_config_value' }, wrapper_html: {class: 'bool_app_config_value_wrapper'}