// Place all the styles related to the app_configs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.right-float{
  float: right;
}

a.destroy-link{
  color: red;
  text-decoration: underline;

  &:hover{
    color: red;
  }
}

a.edit-link{
 text-decoration: underline;
}

.search-input{
  margin-right: 6px;
}

.search-form{
  padding-bottom: 12px;
}